<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <main class="bg-teal-950 flex justify-center h-screen w-screen p-10">
        <div class="border-2 h-fit rounded-md p-2 w-80 ">
            <h1 class="text-white font-bold w-full text-xl ">Log In Your Account </h1>
            <form method="post" action="/login">
                
                <input class="w-full mb-2 mt-5 outline-none rounded-md decoration-none p-2 text-sm" type="email" name="email" placeholder="Email" required>
                <input class="w-full mb-2 outline-none rounded-md p-2 text-sm" type="password" name="password" placeholder="Password" required>
                <button class="w-full text-white bg-blue-600 mt-2 rounded-md p-1 text-sm" type="submit">Sign in</button>
            </form>
            <!-- <div class="flex  mt-4 justify-center items-center bg-gray-300 px-5 py-1 rounded-md hover:bg-white">
                <img src="https://w7.pngwing.com/pngs/326/85/png-transparent-google-logo-google-text-trademark-logo-thumbnail.png" alt="google logo" class="h-5 w-5">
                <a class="ml-5" href="">Login with Google</a>
            </div> -->
            <a href="/register" class="text-blue-400 w-full text-sm mt-2">Register your account</a>
        </div>
    </main>

    <script src="../app.js"></script>
   
</body>

</html>